* {
    box-sizing: border-box;
}

:root {
    --bg-color: #FFF;
    --text-color: #FFF;
    --header-link-color: #8fabc5;
    --bg-input-color: #4267b2;
    --bg-input1-color: #0ec155;
    --header-bor-submit-color: #29487d;
    --main-grad-bg-color: #d3d8e8;
    --main-image-text-color: #0e385f;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.cb {
    clear: both;
}

/**********************************Header*************/
header {
    background-color: var(--bg-color);
}
.header-titulo{
    width: 100%;
    height: 20%;
    color: var(--header-bg-submit-color);
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

/*********************************menu************/
.menu{
    position: sticky;
    top: 0;
    z-index: 5;
}
nav{
    display: block;
    width: 100%;
    height: 15%;
   float: left;
   background-color: var(--bg-color);
   margin-block-start: auto;
}
nav ul,
nav li {
    padding: 0;
    margin: 0;
    display: block;
}
nav li {
    list-style-type: none;
    float: left;
    margin: 15px 70px ;
    padding: 10px 10px;
    width: 10%;
}
nav a{
    text-decoration: none;
    width: 30%;
    height: 15px;
  
}
nav li :hover {
    background-color: var(--bg-input-color);
    color: var(--bg-color);
    border-radius: 3px;
}
/*----------------------------------Main----------*/
main{
    width: 100%;
    height: 1900px;
}
.banner-principal{
    width: 100%;
    height: 500px;
    margin: 0px;
}
.banner-principal img{
    width: 100%;
    height: 500px;
    padding: 0;
    z-index: 1;
   /* background-size: cover;*/
}
/******************Section Categoria Productos**********/
.categoria-productos{
    width: 100%;
    height: 25%;
    margin: 0px;
    padding-top: 5%;

}
.categoria-productos p{
    text-align: center;
    font-size: 1.9rem;
    color: var(--header-bg-submit-color);
}
.container-productos{
    height: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container-productos-box{
    margin: 2px;
    padding: 1px;
}
.container-productos-box img{
    width: 95% !important;
    height: 75%;
}
/******************Section Sobre Nosotros******************/
.container-sobre-nosotros{
    width: 100%;
    height: 500px;
    border: 1px solid #0e385f;
    display: flex;
}
.container-sobre-nosotros-banner {
    padding: 0px;
    margin: 0px;
   
    z-index: 1;
    width: 100%;
    height: 500px;
}
.container-sobre-nosotros-banner img{
  width: 100%;
    height: 500px;
}
.container-sobre-nosotros-anuncio{
    width: 50%;
    height: 500px;
    background-color: var(--bg-input-color);
    margin-left: 48%;
    z-index: 2;
    position: absolute;
}
.container-sobre-nosotros-anuncio-box{

    margin: 30px;
    padding: 5px;
    z-index: 2;
}
.container-sobre-nosotros-anuncio p{
    color: var(--bg-color);
    text-align: center;
    font-size: 1.9rem;
}
/******************Section Nuestros productos******************/
.section-nuestros-productos{
    width: 100%;
    height: 1870px;
    border: 1px solid hsl(0, 90%, 29%);
    text-align: center;
    z-index: 2;
}
/******** containers principal***********************************/
.container-nuestros-productos{
width: 100%;
height: 600px;
border: 1px solid #112685;
display: flex;
flex-direction: row;
justify-content: center;

}
.nuestro-producto1_banner{
   
    width: 52%;
    height: 95%;
}
.nuestro-producto1_banner img{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.nuestro-producto1_anuncio{
width: 20%;
height: 95%;
background-color: var(--bg-input-color);
color: var(--bg-color);
text-align: center;
}
/****************BUTTON PRINCIPAL ****************/

.button{
    width: 85%;
    height: 15%;
    margin-top: 90%;
    background-color: var(--bg-input1-color);
    border: var(--bg-input1-color);
    color: var(--bg-color);
    z-index: 2;
    
   
}
/******** productos 2 y 3 ************************************/
.nuestro-producto2-3_banner{
    width: 35%;
    height: 95%;
    border: 1px solid var(--bg-input-color);
    background-color: var(--bg-input-color);
    margin: 10px;
    padding: 1px;
    color: var(--bg-color);
    text-align: center;
}
.nuestro-producto2-3_banner .button{
    width: 85%;
    height: 15%;
    margin-top: 5%;
    background-color: var(--bg-input1-color);
    border: var(--bg-input1-color);
    border-radius: 15px;

}
.nuestro-producto2-3_banner img{
    width: 100%;
    height: 40%;  
}
/******** productos 4 - 5 - 6 ************************************/

.nuestro-producto4-5-6_banner{
    width: 23%;
    height: 95%;
    background-color: var(--bg-input-color);
    margin: 10px;
    padding: 1px;
    color: var(--bg-color);
    text-align: center;
}
.nuestro-producto4-5-6_banner .button{
    width: 85%;
    height: 15%;
    margin-top: 10%;
    background-color: var(--bg-input1-color);
    border: var(--bg-input1-color);
    border-radius: 10px;
}
.nuestro-producto4-5-6_banner img{
    width: 100%;
    height: 40%; 
}
/********FOOTER ************************************/
footer{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    
}
.footer_box{
    width: 16%;
    height: 90%;
    margin: 3%;
    text-align: left;
    
}

