* {
    box-sizing: border-box;
}

:root {
    --bg-color: #FFF;
    --text-color: #FFF;
    --header-link-color: #8fabc5;
    --header-bg-submit-color: #4267b2;
    --header-bor-submit-color: #29487d;
    --main-grad-bg-color: #d3d8e8;
    --main-image-text-color: #0e385f;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.cb {
    clear: both;
}

/**********************************Header*************/
header {
    background-color: var(--bg-color);
}
.header-titulo{
    width: 100%;
    height: 20%;
    color: var(--header-bg-submit-color);
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}


/*********************************menu************/
.menu{
    position: sticky;
    top: 0;
    z-index: 5;
}
nav{
    text-align: center;
    width: 100%;
    height: 15%;
   float: left;
   background-color: var(--bg-color);
  
}
nav ul,
nav li {
    padding: 0;
    margin: 0;
    display: block;

}

nav li {
    list-style-type: none;
    float: left;
    margin: 20px 100px 20px 100px;
    padding: 5px 5px;
    
}

nav li:hover {
    background-color: var(--header-bg-submit-color);
    color: var(--bg-color);
    border-radius: 3px;
    
}
/*----------------------------------Main----------*/
.banner-principal img{
    width: 100%;
    height: 500px;
    padding: 0;
    z-index: 1;
   /* background-size: cover;*/
}
/******************Section Categoria Productos**********/
.categoria-productos{
    width: 100%;
    height: 25%;
    

}
.categoria-productos p{
    text-align: center;
    font-size: 1.9rem;
    color: var(--header-bg-submit-color);
}
.container-productos{
    height: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container-productos-box{
    margin: 2px;
    padding: 1px;
}
.container-productos-box img{
    width: 95% !important;
    height: 75%;
}
/******************Section Sobre Nosotros******************/
.container-sobre-nosotros{
    width: 100%;
    height: 500px;
    float: left;
    border: 1px solid #0e385f;
}
.container-sobre-nosotros-banner {
    padding: 0px;
    margin: 0px;
    height:95%;
    position: absolute;
    z-index: 1;
    width: 100%;

    
}
.container-sobre-nosotros-banner img{
  width: 100%;
    height: 500px;
}
.container-sobre-nosotros-anuncio{
    width: 50%;
    height: 500px;
    background-color: var(--header-bg-submit-color);
    margin-left: 48%;
    z-index: 2;
    position: absolute;
}
.container-sobre-nosotros-anuncio-box{

    margin: 30px;
    padding: 5px;
}
.container-sobre-nosotros-anuncio p{
    color: var(--bg-color);
    text-align: center;
    font-size: 1.9rem;
}
/******************Section Nuestros productos******************/
.container-nuestros-productos{
    width: 100%;
    height: 800px;
    float: left;
    border: 1px solid #8b0707;
    
}
.container-nuestros-productos p{
    font-size: 1.9rem;
    text-align: center;
}
.container-nuestros-productos-header{
width: 70%;
height: 450px;
position: relative;
border: 1px solid #112685;

display: contents;

}
.container-nuestros-productos-header img{
    width: 75%;
    height: 450px;
    padding: 0px;
    margin: 0px;
}
.container-nuestros-productos-anuncio{
width: 25%;
height: 450px;
position: relative;
background-color: var(--header-bg-submit-color);
float: right;

}
