* {
    box-sizing: border-box;
}

:root {
    --bg-color: #FFF;
    --text-color: #FFF;
    --header-link-color: #8fabc5;
    --bg-input-color: #4267b2;
    --bg-input1-color: #0ec155;
    --header-bor-submit-color: #29487d;
    --main-grad-bg-color: #d3d8e8;
    --main-image-text-color: #0e385f;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.cb {
    clear: both;
}

/**********************************Header*************/
header {
    background-color: var(--bg-color);
}
.header-titulo{
    width: 100%;
    height: 20%;
    color: var(--header-bg-submit-color);
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}


/*********************************menu************/
.menu{
    position: sticky;
    top: 0;
    z-index: 5;
}
nav{
    text-align: center;
    width: 100%;
    height: 15%;
   float: left;
   background-color: var(--bg-color);
  
}
nav ul,
nav li {
    padding: 0;
    margin: 0;
    display: block;

}

nav li {
    list-style-type: none;
    float: left;
    margin: 20px 100px 20px 100px;
    padding: 5px 5px;
    
}

nav li:hover {
    background-color: var(--header-bg-submit-color);
    color: var(--bg-color);
    border-radius: 3px;
    
}
/*----------------------------------Main----------*/
.banner-principal{
    width: 100%;
    height: 500px;
    margin: 0px;
}
.banner-principal img{
    width: 100%;
    height: 500px;
    padding: 0;
    z-index: 1;
   /* background-size: cover;*/
}
/******************Section Categoria Productos**********/
.categoria-productos{
    width: 100%;
    height: 25%;
    margin: 0px;
    padding-top: 5%;

}
.categoria-productos p{
    text-align: center;
    font-size: 1.9rem;
    color: var(--header-bg-submit-color);
}
.container-productos{
    height: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container-productos-box{
    margin: 2px;
    padding: 1px;
}
.container-productos-box img{
    width: 95% !important;
    height: 75%;
}
/******************Section Sobre Nosotros******************/
.container-sobre-nosotros{
    width: 100%;
    height: 500px;
    border: 1px solid #0e385f;
    display: flex;
}
.container-sobre-nosotros-banner {
    padding: 0px;
    margin: 0px;
   
    z-index: 1;
    width: 100%;
    height: 500px;
}
.container-sobre-nosotros-banner img{
  width: 100%;
    height: 500px;
}
.container-sobre-nosotros-anuncio{
    width: 50%;
    height: 500px;
    background-color: var(--bg-input-color);
    margin-left: 48%;
    z-index: 2;
    position: absolute;
}
.container-sobre-nosotros-anuncio-box{

    margin: 30px;
    padding: 5px;
}
.container-sobre-nosotros-anuncio p{
    color: var(--bg-color);
    text-align: center;
    font-size: 1.9rem;
}
/******************Section Nuestros productos******************/
.section-nuestros-productos{
    width: 100%;
    height: 800px;
    border: 1px solid hsl(0, 90%, 29%);
    text-align: center;
}
.container-nuestros-productos{
width: 100%;
height: 450px;
border: 1px solid #112685;
display: flex;
flex-direction: row;
justify-content: center;

}
.nuestro-producto1_banner{
   
    width: 50%;
}
.nuestro-producto1_banner img{
    width: 100%;
    height: 450px;
    padding: 0px;
    margin: 0px;
}
.nuestro-producto1_anuncio{
width: 20%;
height: 450px;
background-color: var(--bg-input-color);
color: var(--bg-color);
text-align: center;
}
.button{
    width: 90%;
    height: 10%;
    background-color: var(--bg-input1-color);
}
